.cover__title {
  margin: -21.5% 0 0 0;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    margin-top: -19.8%;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    margin-top: -15.8%;
  }
}

@media screen and (max-width: 524px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    margin-top: -19.8%;
  }
}
