.place__website {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 12px;
  align-items: flex-start;
}

@media screen and (max-width: 524px) {
  .place__website {
    padding: 0 16px 0 16px;
    width: 100%;
    box-sizing: border-box;
  }
}
